<%= email_message_section do %>
  <%= email_message_spacer 2 %>
<% if @to_treasurer%>
  <%= email_message_body_text do %>
    Hello <%= @treasurer.full_name %>  <br>
This is to confirm that your information has been received by Principal Treasurer. There is nothing else to do now
  <% end %>

<%= email_message_spacer 2 %>

  <%= email_message_body_text do %>
    <span style="color:red;">Remember if you are a Head Treasurer, come to this website every Sunday to complete the Questionnaire after money is deposited or transferred via mobile money</span>
  <% end %>
<% else %>

  <%= email_message_body_text do %>
    Hello Principal Treasurer  <br>
This is to confirm that <%= @treasurer.full_name %> just completed their Treasurer information. Please click on the link to complete the four(4) questions and approve
  <% end %>


<% end %>
  <%= email_message_button do %>
        <%= link_to "Go To Treasurer Information", treasurer_url(@treasurer.id), style: 'color: #fff;' %>
  <% end %>

  <%= email_message_spacer 2 %>

  <%= email_message_small_text do %>
    Any questions? Just email us.
  <% end %>

  <%= email_message_spacer 2 %>
<% end %> 