<% @treasurers.in_groups_of(4) do |group| %>
  <div class="row">
    <% group.compact.each do |treasurer| %>
      <div class="col-md-3 mb-3">
        <%= image_tag treasurer.image, width: '100%' if treasurer.image.attached? %>
        <h4><%= link_to "#{treasurer.first_name} #{treasurer.last_name}", treasurer %></h4>
         <b>Council: </b><%= treasurer.council %><br>
				 <b>Whatsapp #: </b><%= treasurer.whatsapp_number %><br>
				 <b>Treasurer from: </b><%= treasurer.year_treasurer.year %><br>
				 <b>Type of Treasurer: </b><%= treasurer.treasurer_type %><br>
				
      </div>
    <% end %>
  </div>
<% end %>