<%= will_paginate @treasurers, class:"pagination mb-3" %>
<% @treasurers.in_groups_of(4) do |group| %>
  <div class="row">

    <% group.compact.each do |treasurer| %>
      <div class="col-md-3 mb-3">
				
				<div class="card  ">
					<%= link_to (image_tag treasurer.image_resized, width: '100%', class:"card-img-top", alt:"#{treasurer.first_name} #{treasurer.last_name}"), treasurer if treasurer.image.attached? %>
					<div class="card-body">
						<h6 class="card-title"><%= link_to "#{treasurer.full_name}", treasurer %></h6>
						<p class="card-text">
						<b>Council: </b><%= treasurer.council %><br>
				 <b>Whatsapp #: <br></b><%= treasurer.whatsapp_number %><br>
				 <b>Treasurer from: </b><%= treasurer.year_treasurer.year %><br>
				 <b>Type of Treasurer:<br> </b><%= Treasurer::TREASURER_TYPE.key(treasurer.treasurer_type) %><br>

						</p>
					</div>
				</div>
				
      </div>
    <% end %>
  </div>
<% end %>
<%= will_paginate @treasurers, class:"pagination mb-3" %>
