<% @title = "#{@treasurer.first_name} #{@treasurer.last_name}" %>

<div class="container">
	  <div class="row">
			<div class="col-12 col-md-8">
				<%= link_to @treasurer.verified ? "Request More Information" : "Complete Verification",verify_treasurer_path, class:"btn #{@treasurer.verified ? 'bg-danger' : 'bg-success'} pull-right mb-3 #{@treasurer.verified ? 'verify_btn' : ''}" %>
			</div>
			
	</div>
	
	<div class="row">
			<div class="col-12 col-md-8">
				<h3 class= "<%=@treasurer.verified ? 'text-success' : 'text-danger' %>">
					<%= @treasurer.verified ? "Treasurer has been verified" : "This Treasurer is not verified yet" %>
				</h3>
			</div>
			
	</div>
	 <div class="modal fade" id="verifyform" tabindex="-1" role="dialog" aria-labelledby="PayForCredits" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body" style="overflow:auto">
         <div class='col-12 col-md-10'>
				Leave Comments
      </div>       
      </div>
    </div>
  </div>
</div>
	
  <div class="row">
    <div class="col-12 col-md-8">
      <div class="card">
        <div class="card-body">
          <div class="form-horizontal">
                          <div class="form-group row">
                <label class="col-12 col-md-12 form-label">First name</label>
                <div class="ml-3 col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @treasurer.first_name %>
                  </span>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-12 col-md-12 form-label">Middle name</label>
                <div class="ml-3 col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @treasurer.middle_name %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-12 form-label">Last name</label>
                <div class="ml-3 col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @treasurer.last_name %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-12 form-label">Date of birth</label>
                <div class="ml-3 col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @treasurer.date_of_birth.strftime('%A, %d %B, %Y') %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-12 form-label">Branch</label>
                <div class="ml-3 col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @treasurer.branch_id %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-12 form-label">Council</label>
                <div class="ml-3 col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @treasurer.council %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-12 form-label">Phone number</label>
                <div class="ml-3 col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @treasurer.phone_number %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-12 form-label">Whatsapp number</label>
                <div class="ml-3 col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @treasurer.whatsapp_number %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-12 form-label">Are You Currently Employed?</label>
                <div class="ml-3 col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @treasurer.employment_status ? "Yes" : "No" %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-12 form-label">Education level</label>
                <div class="ml-3 col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @treasurer.education_level %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-12 form-label">Are you born again?</label>
                <div class="ml-3 col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @treasurer.born_again ? "Yes" : "No" %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-12 form-label">When Did you join the UD?</label>
                <div class="ml-3 col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @treasurer.ud_join.year %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-12 form-label">Do you listen to Bishop Dag Heward Mills Podcast?</label>
                <div class="ml-3 col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @treasurer.bishop_podcast ? "Yes" : "No" %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-12 form-label">When Did You Become A Treasurer? </label>
                <div class="ml-3 col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @treasurer.year_treasurer.year %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-12 form-label">Treasurer type</label>
                <div class="ml-3 col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @treasurer.treasurer_type %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-12 form-label">Conference</label>
                <div class="ml-3 col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @treasurer.conference.join(", ") if @treasurer.conference.present? %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-12 form-label">Have you been trained with the treasurer's manual as a treasurer?</label>
                <div class="ml-3 col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @treasurer.training_manual ? "Yes" : "No" %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-12 form-label">Do you pay tithes regularly</label>
                <div class="ml-3 col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @treasurer.tithe ? "Yes" : "No" %>
                  </span>
                </div>
              </div>

                        <div class="d-flex">
              <div class="ml-auto">
                <%= link_to fa_icon_tag("pencil") + ' Edit', edit_treasurer_path(@treasurer), class: 'btn btn-primary' %>
                <%= link_to 'Back', treasurers_path, class: 'btn' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
