
<%= form_for(@performance, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
		
	 <%= f.form_group :sunday_service, class: 'row' do |f| %>
      <%= f.label "Date of Service", class: 'control-label col-md-3 font-weight-bold' %>
      <div class='col-12 col-md-9'>
        <%= f.date_select :sunday_service,{include_blank: true}, class: 'form-control', style:"width:30%; display:inline" %>
        <%= f.error_messages %>
      </div>
    <% end %>
	
		<%= f.form_group :service_type, class: 'row' do |f| %>
      <%= f.label "Type of Service: ", class: 'control-label col-md-12 font-weight-bold' %>
      <div class='col-12 col-md-10'>
				<%= f.select :service_type, options_for_select(Performance::SERVICE_TYPES, @performance.service_type ? @performance.service_type : ""), {include_blank: true}, {class: 'form-control'} %>
        <%= f.error_messages %>
      </div>
    <% end %>
		
		
    <%= f.form_group :who_came, class: 'row' do |f| %>
      <%= f.label "Which Treasurers came to Church?", class: 'control-label col-md-12 font-weight-bold' %>
		
		  <div class=' ml-3 col-12 col-md-10 border border-primary border-rounded p-2'>
				<%  @treasurers.each do |treasurer| %>

        <label class="pl-5" style="width:40%">
            <% if @performance.who_came.present? && @performance.who_came.include?(treasurer.id.to_s) %>
              <%= check_box("performance", "who_came", {:multiple => true, :checked => true, :class =>"form-check-input"}, treasurer.id, nil) + treasurer.full_name %>
            <% else %>
              <%= check_box("performance", "who_came", {:multiple => true, :class =>"form-check-input"}, treasurer.id, nil) + treasurer.full_name %>
            <% end %>
        </label>
<% end %>  
        <%= f.error_messages %>
      </div>
    <% end %>

    <%= f.form_group :who_counted, class: 'row' do |f| %>
      <%= f.label "Which Treasurers Counted?", class: 'control-label col-md-12 font-weight-bold' %>
		  <div class=' ml-3 col-12 col-md-10 border border-primary border-rounded p-2'>
				<%  @treasurers.each do |treasurer| %>

        <label class="pl-5" style="width:40%">
            <% if @performance.who_came.present? && @performance.who_came.include?(treasurer.id.to_s) %>
              <%= check_box("performance", "who_counted", {:multiple => true, :checked => true, :class =>"form-check-input"}, treasurer.id, nil) + treasurer.full_name %>
            <% else %>
              <%= check_box("performance", "who_counted", {:multiple => true, :class =>"form-check-input"}, treasurer.id, nil) + treasurer.full_name %>
            <% end %>
        </label>
<% end %>  
        <%= f.error_messages %>
      </div>
    <% end %>

    <%= f.form_group :when_counted, class: 'row' do |f| %>
      <%= f.label "When did counting start after your service?", class: 'control-label col-md-12 font-weight-bold' %>
      <div class='col-12 col-md-10'>
				<%= f.select :when_counted, options_for_select(Performance::WHEN_COUNTED, @performance.when_counted ? @performance.when_counted : ""), {include_blank: true}, {class: 'form-control'} %>
        <%= f.error_messages %>
      </div>
    <% end %>

    <%= f.form_group :when_paid, class: 'row' do |f| %>
      <%= f.label "When was it paid into the bank or sent via mobile money or paid to Council Treasurer?", class: 'control-label col-md-12 font-weight-bold' %>
      <div class='col-12 col-md-10'>
				<%= f.select :when_paid, options_for_select(Performance::WHEN_PAID, @performance.when_paid ? @performance.when_paid : ""), {include_blank: true}, {class: 'form-control'} %>
        <%= f.error_messages %>
      </div>
    <% end %>

    <%= f.form_group :who_paid, class: 'row' do |f| %>
      <%= f.label "Who paid to the bank/ sent via mobile money/ sent to Council", class: 'control-label col-md-12 font-weight-bold' %>
      <div class='col-12 col-md-10'>
				<%= f.select :who_paid, options_from_collection_for_select(@treasurers, :id, :full_name), {include_blank: true}, {class: 'form-control'} %>
        <%= f.error_messages %>
      </div>
    <% end %>
		
		
	 <%= f.form_group :deposit_date, class: 'row' do |f| %>
      <%= f.label "Please put the date of deposit (Please make sure this tallies with the information on the deposit slip)", class: 'control-label col-md-12 font-weight-bold' %>
      <div class='col-12 col-md-9'>
        <%= f.date_select :deposit_date,{include_blank: true}, class: 'form-control', style:"width:30%; display:inline" %>
        <%= f.error_messages %>
      </div>
    <% end %>

  </div>

  <div class="d-flex">
    <div class="ml-auto">
      <%= f.submit "Complete Questionnaire",class: 'btn btn-primary' %>
      <%= link_to "Cancel", performances_path, class: 'btn btn-outline-default' %>
    </div>
  </div>
<% end %>

