<% @title = "Completed Questionnaires" %>

  <% content_for :actions do %>
    <%= link_to new_performance_path, class: 'btn btn-primary btn-large pull-right' do %>
      <%= fa_icon_tag "plus" %> New Questionnaire
      <% end %>
		<%= link_to "Query Performances", query_performances_path, class: 'btn btn-success btn-large pull-left' unless current_user.treasurer? %>
      <% end %>

      <div class="container">
				
				
				
				
        <div class="row">
          <div class="col-12 col-md-12">
            <div class="card card-sheet sheet-condensed">
							<div class="table-responsive">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th>Year of Service</th>
										<th>Date of Service</th>
										<% if current_user.admin? %>
										<th>Council</th>
										<th>Branch</th>									
										<% elsif current_user.principal_treasurer?  %>
										<th>Branch</th>
										<% end %>
										<th>Who counted</th>
										<th>When counted</th>
										<th>When paid</th>
										<th>Who paid</th>
										<th>Completed By</th>
									<th></th>
                  </tr>
                </thead>
                <tbody>
                <% @performances.each do |performance| %>
                  <tr>
                    <td><%= performance.sunday_service.strftime("%Y") %></td>
										<td><%= performance.sunday_service.strftime("%A, %b %d") %></td>
										<% if current_user.admin? %>
										<% branch = BranchConnection.find_by_BRANCH(performance.branch_id) %>
										<td><%= branch.COUNCIL if branch %></td>
										<td><%= performance.branch_id %></td>
										<% elsif current_user.principal_treasurer?  %>
										
										<td><%= performance.branch_id %></td>
										<% end %>

										<td><%= raw Treasurer.where(id: performance.who_counted.map(&:to_i)).map{|tres| tres.full_name}.join("<br>") %></td>
										<td><%= Performance::WHEN_COUNTED.key(performance.when_counted) %></td>
										<td><%= Performance::WHEN_PAID.key(performance.when_paid) %></td>
										<td><%= Treasurer.find_by_id(performance.who_paid.to_i).full_name if performance.who_paid.strip.present? %></td>
										<td><%= performance.user.treasurer.full_name if performance.user.present? %></td>
									<td class="actions text-right">
                      <div class="btn-group">
                        <%= link_to theme_icon_tag("eye"), performance, 'data-toggle': 'tooltip', title: 'Show', class: "btn btn-link" %>
                        <%= link_to theme_icon_tag("pencil-alt"), edit_performance_path(performance), 'data-toggle': 'tooltip', title: 'Edit', class: "btn btn-link" if current_user.treasurer.branch_id == performance.branch_id %>
                        <%= link_to theme_icon_tag("trash"), performance, 'data-toggle': 'tooltip', title: 'Delete',
                        data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-link' if current_user.admin? %>
                      </div>
                      </td>
                    </tr>
                    <% end %>
                    <% if @performances.length == 0 %>
                    <tr><td colspan=42 class='text-center'>No performances.</td></tr>
                    <% end %>
                    </tbody>
                  </table>
       
</div>
         
						
						</div>

                                  <%# Remove the trailing if condition if you're using pagination. %>
                  <%= will_paginate @performances if @performances.respond_to?(:total_pages) %>
                
                              </div>
          </div>
      </div>
